.abt-section {
  width: 100%;
  min-height: 80vh;
  background:  url('../assets/Ab1.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.abt-container {
  width: 80%;
  max-width: 800px;
  background-color: rgba(132, 202, 243, 0.6); 
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  color: rgba(5, 5, 5, 0.9);
}

.abt-content-section {
  width: 100%;
}


.abt-button a {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgba(4, 21, 75, 0.8); 
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}

.abt-button a:hover {
  background-color: rgb(12, 12, 11); 
}

/* Responsive Design */
@media (max-width: 768px) {
  .abt-container {
    width: 90%;
    padding: 20px;
  }

  .abt-section h1 {
    font-size: 2em;
  }

  .abt-section h3 {
    font-size: 1.8em;
  }

  .abt-section p {
    font-size: 1.5em;
  }

  .abt-button a {
    padding: 8px 16px;
  }
}
