
.add-locations-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
    background-image: url('../assets/bg9.jpg');
    background-size: cover;
  }
  
  h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .add-location-form {
    width: 100%;
  }
  
  .add-location-form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #000000;
  }
  
  input[type="text"],
  textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }
  
  textarea {
    resize: vertical;
    height: 100px;
  }
  
  input[type="file"] {
    border: none;
    background-color: transparent;
  }
  
  .add-location-image-previews {
    margin-top: 10px;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .add-location-image-preview-container {
    position: relative;
    display: inline-block;
  }
  
  .add-location-image-preview {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .add-location-remove-image-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .add-location-submit-btn {
    background-color: #093f55;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
  }
  
  .add-location-submit-btn:hover {
    background-color: #0c6880;
  }