#home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#home {
  height: 100vh; /* Takes up the full viewport height */
  width: 100%;   /* Takes up the full viewport width */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/bg1.jpg'); /* Set the background image */
  background-size: cover; /* Ensure the image covers the entire area */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  margin-bottom: 10px;
}

#home-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7); /* Optional: Add a semi-transparent background to make the text more readable */
  position: absolute; /* Position absolute to center relative to the parent */
  top: 50%; /* Move 50% down from the top */
  left: 50%; /* Move 50% from the left */
  transform: translate(-50%, -50%); /* Translate back by half of its own width and height */
  width: 80%; /* Adjust width as needed */
  max-width: 600px; /* Limit maximum width */
}

@media screen and (max-width: 769px) {
  #home {
    height: 50vh; /* Adjust height for smaller screens */
  }

  #home-text {
    padding: 10px;
  }
}
