#locations {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 6fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "Lselector map"
    "lbtn "; 
}


.Lselector,
.map {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
}

.wrapper {
  margin-top: 40px;
  display: grid;
  gap: 100px;
  justify-content: center;
  height: auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 25px));
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  column-gap: 50px;
}

.pagination .pagebtn {
  height: 40px;
  width: 100px;
  border: 0;
  padding: 10px 20px;
  background: #221069;
  font-size: 1rem;
  color: #fff;
  margin: 0 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 20px 20px 20px 20px;
}

.pagination .pagebtn:hover {
  background-color: #0285a6;
}

.Lcard {
  position: relative;
  border-radius: 20%;
  background-color: #f8f8f8;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.Lcard:hover {
  transform: scale(1.05);
}

.card__img-container {
  position: relative;
}

.Lcard img {
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: auto;
}

.location-details-content {
  background-color: yellow;
  padding: 20px;
  position: fixed;
  height: 500px;
  width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  z-index: 0;
  border-radius: 10px;
  pointer-events: none; 
}

.Lcard:hover + .location-details-content {
  display: flex;
  overflow: auto;
}


.location-details-content  h2,
.location-details-content  p,
.location-details-content  h3 {
  margin: 10px 0;
}

.location-details-content  img {
  height:auto;
  width:auto;
  border-radius: 10px;
}

.Lcard .card__body {
  padding: 10px;
}

.Lcard .card__title {
  font-size: 20px;
  margin-bottom: 10px;
}

.Lcard .card__description {
  font-size: 14px;
}

.Lcard .card__price {
  font-size: 14px;
  margin-top: 10px;
}

.Lcard .card__price::before {
  content: "$";
  font-size: 16px;
  position: relative;
  top: -10px;
  padding-right: 10px;
}
/* check box */
.checkbox-location {
  width: 100px;
	height: 50px;
	background: #34495e;
	margin: 20px 20px;
  border-radius: 25px;
  display:inline-block;
  cursor:cell;
  position: relative;
}
.checkbox-location .label{
  -webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
  z-index: 2;
  position: absolute;
  margin-left: -23px;
  width: 50px;
  height: 50px;
  background-color: #2ecc71;
  border-radius: 25px;
  cursor: pointer;
}

.checkbox-location input[type="checkbox"] {
  visibility: hidden;
}

.checkbox-location input[type=checkbox] +  label {
  z-index:2;
  position:absolute;
  margin-left:-15px;
  width:50px;
  height:50px;
  background-color:#4ccd82;
  border-radius:25px;
  cursor: pointer;
}

.checkbox-location input[type=checkbox]:checked + label{
  z-index:2;
  background-color:#e74c3c;
  position:absolute;
  margin-left:-13px;
  width:100px;
  height:50px;
  border-radius:25px ;
  cursor: pointer;
}

/* confirm btn */
.lbtn{
  align-content: center; 
  background-color: #98BD9D; 
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 3;
}

.lbtn .confirm-btn {
  padding: 10px 20px;
  background: #221069;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20%;
  transition: all 0.3s ease;
  border-radius: 20px 20px 20px 20px;
}

.lbtn .confirm-btn:hover {
  background-color: #0285a6;
}



.blurred .Lselector,
.blurred .map {
  filter: blur(5px);
}

/* Media query for mobile view */
@media screen and (max-width: 768px) {
  #locations {
    flex-direction: column-reverse;
  }

  .wrapper {
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Lselector {
    justify-content: center;
  }

  .Lcard {
    box-shadow: 0 0 10px 5px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    font-size: medium;
    background-color: #fff;
    text-align: center;
    width: 50%;
  }
}
