
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130vh;
    background-image: url('../assets/bg9.jpg');
    background-size: cover;
    background-position: center;
    
}

.login-container {
    width: 450px;
    padding: 20px ;
    background: rgba(245, 245, 245, 0.514);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding-top: 5px;
}

.login-header {
    text-align: center;
    margin-bottom: 20px;
    color: #02293f;
}

.login-text {
    font-size: 24px;
    font-weight: bold;
}

.login-underline {
    width: 50px;
    height: 3px;
    background-color: #02293f;
    margin: 10px auto;
}

.toggle-action {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
   
}

.toggle-action button {
    background: #076581;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 50px;
    width: 90px;
}

.toggle-action button:hover {
    background: #a6c1ce;
}

.login-role-selection {
    text-align: center;
    margin-bottom: 20px;
}

.login-card-group {
    display: flex;
    justify-content: space-between;
}

.login-card {
    background: #077fc5;
    border: 1px solid #ccc;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 15px;
    width: 145px;
}


.login-card.selected {
    border-color: #73c6ce;
    background-color: #528e94;
    color: #fff;
}

.role-warning {
    text-align: center;
    color: rgb(233, 11, 11);
    margin-bottom: 20px;
    
}

.login-inputs {
    margin-top: 20px;
}

.login-input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    position: relative;
}

.login-input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 10px;
}

.password-toggle {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.checkbox-container {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adds space between each checkbox block */
}

.checkbox-container div {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Adjust margin as needed */
}

.checkbox-container input[type="checkbox"] {
    margin-right: 5px; /* Adjust margin between checkbox and label */
}



.login-input-group h4 {
    margin: 0 10px 10px 0; /* Adjust margin around the heading */
    font-size: 18px; /* Adjust font size for the heading */
    color: #5a586d;
    padding-left: 10px;
    font-weight:600;
    
}
.upload-container{
    padding-left :10px; 
    height: 5px;
    border-radius: 10px;
}
.upload-label {
    background: #fbffff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    color: #6e696e;
    align-items: center;
    padding-left: 5px;
}

.uploaded-image-name {
    display: block;
    margin-top: 8px;
    color: rgb(26, 35, 41);
    font-size: 12px;
    padding-left: 10px;
}

.login-button-group {
    text-align: center;
    margin-top: 20px;
}

.login-button {
    background: #097f88;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 50px;
}

.login-button:hover {
    background: #075e66;
}
