*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#locations {
  display: flex;
  flex-direction: row;
  min-height: max-content;
}

.Lselector, .map {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
}

.wrapper {
  margin-top: 40px;
  display: grid;
  gap: 20px;
  justify-content: center;
  height: auto;
}

.card {
  box-shadow: 0 0 10px 5px;
  border-radius: 20px;
  height: 320px;
  width: 300px;
  display: flex;
  flex-direction: column;
  font-size: medium;
  background-color: #fff;
}

.card__img-container {
  position: relative;
}

.card img {
  height: 50%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.card .card__body {
  padding: 1rem;
  height: fit-content;
}

.card .card__title {
  line-height: 1.4rem;
  margin-bottom: 0.5rem;
}

.card .card__description {
  line-height: 1.2rem;
}

.card .card__price {
  font-size: 1.4rem;
  margin-top: 0.6rem;
}

.card .card__price::before {
  content: "$";
  font-size: 1rem;
  position: relative;
  top: -0.3rem;
  padding-right: 0.1rem;
}

.pagination .pagebtn {
  border: 0;
  height: 100%;
  padding: 5px 15px;
  background: #221069;
  font-size: 30px;
  color: #fff;
  position: relative;
  transition: all 0.5s;
}

.pagination .pagebtn:hover {
  background-color: #1b0a56;
}

/* Modal styling */
.location-details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  visibility: hidden;
}

.location-details-content {
  width: 500px;
  height: 500px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location-details img {
  max-width: 100%;
  max-height: 200px;
  object-fit: cover;
  margin-bottom: 20px;
}

.location-details h2, .location-details p, .location-details h3 {
  margin-bottom: 10px;
}

.location-details button {
  padding: 10px 20px;
  background: #221069;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Blur background when modal is open */
.blur-background {
  filter: blur(5px);
}

/* Media query for mobile view */
@media screen and (max-width: 768px) {
  #locations {
    flex-direction: column;
  }

  .wrapper {
    grid-template-columns: 1fr;
  }
}
